<div class="sharing_panel large webtorrent">
	<div class="fields" data-bind="visible: bMagnetLink">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_MAGNET_LINK'}"></span>
			</div>
			<div class="row">
				<span class="value">
					<textarea data-bind="value: magnetLink, enable: !downloadStarted()" class="input"></textarea>
				</span>
			</div>
		</div>
	</div>
	<span class="buttons" data-bind="visible: bMagnetLink" style="margin-bottom: 14px;">
		<span class="button button-fill" data-bind="command: downloadFromMagnetCommand">
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_DOWNLOAD_FROM_MAGNET'}"></span>
		</span>
		<span class="button button-fill" data-bind="command: saveTorrentToFilesCommand">
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SAVE_TORRENT_TO_FILES'}, visible: !isTorrentSaving()"></span>
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SAVE_TORRENT_TO_FILES_IN_PROGRESS'}, visible: isTorrentSaving()"></span>
		</span>
	</span>
	<div class="fields" data-bind="visible: downloadStarted"></div>
	<div class="item file" data-bind="visible: downloadStarted">
		<div class="item_content">
			<span class="data">
				<span class="icon"></span>
				<span class="name" data-bind="text: fileName"></span>
				<span class="size" data-bind="text: fileSize"></span>
			</span>
		</div>
	</div>
	<div class="fields" data-bind="visible: downloadStarted">
		<div class="fieldset">
			<div class="row" data-bind="visible: hasNoSource() && !downloaded()">
				<span class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_CANNOT_FIND_SOURCE'}"></span>
			</div>
			<div class="row">
				<span class="value" data-bind="visible: !downloaded(), text: downloadText"></span>
				<span class="value" data-bind="visible: downloaded, text: peersText"></span>
			</div>
		</div>
	</div>
	<div class="fields" data-bind="visible: downloadStarted"></div>
	<div class="video-container" data-bind="visible: downloadStarted">
		<div id="file-from-torrent"></div>
	</div>
	<div class="fields" data-bind="visible: downloadStarted() && (isSaving() || uploaded())">
		<div class="fieldset">
			<div class="row">
				<span class="value" data-bind="text: uploadText"></span>
			</div>
		</div>
	</div>
	<div class="fields" data-bind="visible: downloadStarted() && isSaving()"></div>
	<span class="buttons" data-bind="visible: downloadStarted">
		<span class="button button-fill" data-bind="command: saveToFilesCommand">
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SAVE_TO_FILES'}, visible: !isSaving()"></span>
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SAVE_TO_FILES_IN_PROGRESS'}, visible: isSaving()"></span>
		</span>
	</span>
</div>
