<div class="sharing_panel large media">
	<div class="fields"></div>
	<div class="item file">
		<div class="item_content">
			<span class="data">
				<span class="icon"></span>
				<span class="name" data-bind="text: fileName"></span>
				<span class="size" data-bind="text: fileSize"></span>
			</span>
		</div>
	</div>
	<div class="fields">
		<div class="fieldset">
			<div class="row" data-bind="visible: hasNoSource() && !downloaded()">
				<span class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_CANNOT_FIND_SOURCE'}"></span>
			</div>
			<div class="row">
				<span class="value" data-bind="visible: !downloaded(), text: downloadText"></span>
				<span class="value" data-bind="visible: downloaded, text: peersText"></span>
			</div>
		</div>
	</div>
	<div class="fields"></div>
	<div class="video-container">
		<div id="file-from-torrent"></div>
	</div>
	<div class="fields" data-bind="visible: isSaving() || uploaded()">
		<div class="fieldset">
			<div class="row">
				<span class="value" data-bind="text: uploadText"></span>
			</div>
		</div>
	</div>
	<div class="fields" data-bind="visible: isSaving"></div>
	<span class="buttons">
		<span class="button button-fill" data-bind="command: saveToFilesCommand">
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SAVE_TO_FILES'}, visible: !isSaving()"></span>
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SAVE_TO_FILES_IN_PROGRESS'}, visible: isSaving()"></span>
		</span>
	</span>
</div>
